/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

.menuhome .row .col-25{
  background: #fff;
  text-align: center;
  color: #fff;
  border: 0px solid #ddd;
  border-radius:10% 10% 10% 10%;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.donasi .row .col-50{
  background: #fff;
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.myig_profile 
{
display:none;
}

.donasi
{
border-radius:0% 0% 0% 0%;
}

.home-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.home-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}

.logotitle
{
height:35px;

}

.logogap
{
margin-left:10px;
}

.demo-facebook-card .card-header {
  display: block;
  padding: 10px;
}
.demo-facebook-card .demo-facebook-avatar {
  float: left;
}
.demo-facebook-card .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.demo-facebook-card .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.demo-facebook-card .card-footer {
  background: #fafafa;
}
.demo-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.demo-facebook-card .card-content img {
  display: block;
}
.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}
.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}

.tv-close {
  position: fixed;
  padding: 0;
  right: 5px;
  top: 5px;
  z-index:999;
  cursor: pointer;
}

.tv-banner {
  position: fixed;
  padding: 0;
  left: 0px;
  top: 0px;
  z-index:999;
  cursor: pointer;
  height:60px;
  width:100%;
  background:#000000;
}

.live-online {
position:relative;
width:0px;
height:0px;
left:5px;
top:5px;
}

.page {
  background: url("gradient-1761190_1280.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
}