@font-face {
  font-family: 'LPMQ Isep Misbah';
  src: URL('LPMQ_IsepMisbah.ttf') format('truetype');
}

/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

.menuhome .row .col-25{
  background: #fff;
  text-align: center;
  color: #fff;
  border: 0px solid #ddd;
  border-radius:10% 10% 10% 10%;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 10px;
}

.menuhome .row .col-25 .item-content .fas{
width:100%;
font-size:40px;
}

.donasi .row .col-50{
  background: #fff;
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.myig_profile 
{
display:none;
}

.donasi
{
border-radius:0% 0% 0% 0%;
}

.home-card-header-pic .card-header {
  height: 40vw;
  background-size: cover;
  background-position: center;
  color: #fff;
}
.home-card-header-pic .card-content-padding .date{
  color: #8e8e93;
}

.logotitle
{
height:35px;

}

.logogap
{
margin-left:10px;
}

.demo-facebook-card .card-header {
  display: block;
  padding: 10px;
}
.demo-facebook-card .demo-facebook-avatar {
  float: left;
}
.demo-facebook-card .demo-facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.demo-facebook-card .demo-facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.demo-facebook-card .card-footer {
  background: #fafafa;
}
.demo-facebook-card .card-footer a {
  color: #81848b;
  font-weight: 500;
}
.demo-facebook-card .card-content img {
  display: block;
}
.demo-facebook-card .card-content-padding {
  padding: 15px 10px;
}
.demo-facebook-card .card-content-padding .likes {
  color: #8e8e93;
}

.tv-close {
  position: fixed;
  padding: 0;
  right: 5px;
  top: 5px;
  z-index:999;
  cursor: pointer;
}

.tv-banner {
  position: fixed;
  padding: 0;
  left: 0px;
  top: 0px;
  z-index:999;
  cursor: pointer;
  height:60px;
  width:100%;
  background:#000000;
}

.live-online {
position:relative;
width:0px;
height:0px;
left:5px;
top:5px;
}
/*
.page {
  background: url("gradient-1761190_1280.jpg") no-repeat center center fixed !important;
  background-size: cover !important;
}
*/
.fancybox-title-float-wrap .child {
    max-width: 100%;
    height: 50px;
    margin-bottom: -40px;
    white-space: normal;
    overflow: hidden;
}

#timepanelmasehi , #timepanelhijri
{
font-size:10px;
}

.merah 
{
background:#f44336;
color:#ffffff;
}

#assalamualaikum
{
font-size:24px;
}

input:required:invalid, input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right top;
    background-repeat: no-repeat;
    -moz-box-shadow: none;
  }
  
input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right top;
    background-repeat: no-repeat;
  }

.lpmq
{
			font-family: 'LPMQ Isep Misbah';
}


.input-amount {
    position: relative;
    display: inline-block;
    width: 100%;
}

.input-amount-currency {
    position: absolute;
    display: block;
    padding: 12px 0 8.5px 8.5px;
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1;
    color: #006489;
}

.input-target {
    width: 100%;
    padding: 15px 7.5px 7.5px 1.9em!important;
    font-weight: 700;
    border: 2px solid #56d1ff;
    font-size: 34px!important;
    color: #4a4a4a;
    background-color: #f2f3f4!important;
    border-color: #f2f3f4;
    text-align: right;
    padding-right: 15px;
    height: auto!important;
}
