/* Your app styles here */
.ios .tabbar-labels .tab-link:not(.tab-link-active) .icon-ios-fill {
  display: none;
}
.ios .tabbar-labels .tab-link.tab-link-active .icon:not(.icon-ios-fill) {
  display: none;
}

.menuhome .row .col-25{
  background: #fff;
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  border-radius:10% 10% 10% 10%;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.donasi .row .col-50{
  background: #fff;
  text-align: center;
  color: #fff;
  border: 1px solid #ddd;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 12px;
}

.myig_profile 
{
display:none;
}

.donasi
{
border-radius:0% 0% 0% 0%;
}